/* style.css */
body{
  background: rgb(245,245,245);
  color: blue;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Courier;
  color: blue;
  font-weight: lighter;
  font-size: 12px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
/* TODO: write your design in CSS */
